<div class="container">
  <div class="row mt-2">
    <!-- <div class="col-12"> -->
      <!-- <app-test>
        <h1>
          this is heading for test component
        </h1>
      </app-test> -->
      <!-- <div class="col-sm-6">
        <app-auth-form>
          <h1>create account </h1>
          <button class="btn btn-primary" >sign up</button>
        </app-auth-form>
      </div>
      <div class="col-sm-6">
        <app-auth-form>
          <h1>log in </h1>
          <button class="btn btn-primary ">sign in</button>
        </app-auth-form>
      </div> -->
     
     <div class="col-md-8 offset-md-2">
      <app-accor>
        <h1>angular 16</h1>
        <p>For a summary of this information and the step-by-step procedure to update your Angular application to v16</p>
      </app-accor>
      <app-accor>
        <h1>angular 10</h1>
        <p>Angular version 10, has been released on the 24th of June, 2020 but with the beta version this time.</p>
      </app-accor>
      <app-accor>
        <h1>angular 14</h1>
        <p>The Angular 14 release new features include CLI auto-completion, typed reactive forms, stand-alone components, directives and pipes, and enhanced template diagnostics.</p>
      </app-accor>
     </div>
      
    <!-- </div> -->
  </div>
</div>